{% extends "base.html" %}
{% block content %}


<div class="">
    <section class="max-w-screen-xl mx-auto px-4 py-32 lg:py-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">About Me</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">I am a fully qualified website designer and hold a level 5 diploma in Software Development. My main skills are in Web Application Development and User Experience Design.</h2>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">My goal when building any website is to make sure that both you the client and your customers visiting the new site have the best experience. I can assure you that with my work ethic I can deliver the best in quality, efficiency and a cost effective solution. Whether you need a new website or a revamp to an existing one, please contact me for a quote, today.</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="Contact" class="text-sm sm:text-base" href="">Contact</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="Services" class="text-sm sm:text-base" href="">Services</a></div>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl w-full mx-auto px-4 xl:px-0 flex flex-col lg:flex-row flex-col-reverse justify-around gap-x-12 py-8 lg:py-24 text-black">
            <div class="flex flex-col items-center lg:items-start justify-between lg:space-y-6 h-96">
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal">Tech Stack I Use</h2>
                <div class="flex py-4 space-x-8 md:space-x-16">
                    <a aria-label="Github" href="https://github.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-github text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Laravel" href="https://laravel.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-laravel text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Python3" href="https://python.org" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-python text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Docker" href="https://docker.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-docker text-5xl lg:text-6xl "></i></a>
                </div>
                <div class="flex py-4 space-x-8 md:space-x-16">
                    <a aria-label="Databases" href="https://www.mongodb.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-solid fa-database text-5xl lg:text-6xl "></i></a>
                    <a aria-label="HTML5" href="https://en.wikipedia.org/wiki/HTML5" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-html5 text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Bootstrap5" href="https://getbootstrap.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-bootstrap text-5xl lg:text-6xl "></i></a>
                    <a aria-label="AWS" href="https://aws.amazon.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-aws text-5xl lg:text-6xl lg:w-32"></i></a>
                </div>
                <div class="flex pt-4 space-x-8 md:space-x-16">
                    <a aria-label="CSS3" href="https://en.wikipedia.org/wiki/CSS" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-css3-alt text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Javascript" href="https://www.javascript.com" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-js text-5xl lg:text-6xl "></i></a>
                    <a aria-label="PHP" href="https://www.php.net" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-php text-5xl lg:text-6xl "></i></a>
                    <a aria-label="Stripe" href="https://stripe.com/gb" target="_blank" class="hover:text-white focus:text-white active:text-white"><i class="fa-brands fa-cc-stripe text-5xl lg:text-6xl "></i></a>
                </div>
            </div>
            <div class="flex justify-center items-center py-12 lg:hidden">
                <div class="h-[1px] w-3/4 sm:w-2/3 md:w-1/2 bg-black"></div>
            </div>
            <div class="flex flex-col justify-between space-y-6 h-96">
                <h2 class="text-2xl lg:text-4xl text-center lg:text-left font-semibold lg:font-normal">What I can do</h2>
                <div class="flex justify-center text-center lg:text-left text-2xl lg:text-4xl">
                    <div class="flex flex-col justify-center lg:items-start space-y-8">
                        <div class="text-xl flex items-center w-full"><i class="fa-solid fa-check text-3xl pr-8"></i>Complete Design Process</div>
                        <div class="text-xl flex items-center w-full"><i class="fa-solid fa-check text-3xl pr-8"></i>Mobile Application Design</div>
                        <div class="text-xl flex items-center w-full"><i class="fa-solid fa-check text-3xl pr-8"></i>Database Structure</div>
                        <div class="text-xl flex items-center w-full"><i class="fa-solid fa-check text-3xl pr-8"></i>Marketing and SEO</div>
                        <div class="text-xl flex items-center w-full"><i class="fa-solid fa-check text-3xl pr-8"></i>Domain name and hosting</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-8 lg:py-24 space-y-8 lg:space-y-12">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse">

            <a href="" class="flex flex-col items-center justify-center w-full md:w-1/3 lg:w-1/4 space-y-8">
                <h1 class="text-2xl lg:text-4xl font-semibold lg:font-normal text-white">
                    Services
                </h1>
                <i class="fa-solid fa-cubes text-5xl lg:text-6xl hidden md:block"></i>
                <p class="text-base md:text-lg lg:text-xl xl:text-2xl text-white text-center">Offering all services from start to finish with an after service to maintain your site. Using fresh designs built from scratch and using the lates technology.</p>
            </a>

            <div class="h-1/2 w-full md:w-1/2 pt-8 md:pt-0">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/services.jpg') }}" alt="">
                </a>
            </div>

        </div>

        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around">

            <a href="" class="flex flex-col items-center justify-center w-full md:w-1/3 lg:w-1/4 space-y-8">
                <h1 class="text-2xl lg:text-4xl font-semibold lg:font-normal text-white">
                    Savings
                </h1>
                <i class="fa-solid fa-cubes text-5xl lg:text-6xl hidden md:block"></i>
                <p class="text-base md:text-lg lg:text-xl xl:text-2xl text-white text-center">Cost effective solutions for all budgets with fixed deadlines to make sure your website is live within a timeline that works for you.</p>
            </a>

            <div class="h-1/2 w-full md:w-1/2 pt-8 md:pt-0">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/savings.jpg') }}" alt="">
                </a>
            </div>

        </div>
    </section>

    

    
</div>



{% endblock %}