{% extends "base.html" %}
{% block content %}

<div class="">
    <section class="max-w-screen-xl mx-auto px-4 py-32 lg:py-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">About Me</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">Welcome to my site. I am a fully qualified website designer and hold a level 5 diploma in Software Development. My main skills are in Web Application Development and User Experience Design.</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="Contact" class="text-sm sm:text-base" href="">Contact</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="Services" class="text-sm sm:text-base" href="">Services</a></div>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 space-y-12">
            <div class="flex text-black pt-8 lg:pt-24 w-full">
                <h1 class="flex justify-center text-center lg:text-left text-2xl lg:text-4xl w-1/2">
                    Tech Used
                </h1>
                <h1 class="flex justify-center text-center lg:text-left text-2xl lg:text-4xl w-1/2">
                    What I can do!
                </h1>
            </div>

            <div class="flex text-black pb-8 lg:pb-24 w-full">
                <div class="flex flex-col text-center lg:text-left text-2xl lg:text-4xl w-1/2 space-y-8">
                    <div class="flex justify-center lg:items-start space-x-16">
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    </div>
                    <div class="flex justify-center lg:items-start space-x-16">
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    </div>
                    <div class="flex justify-center lg:items-start space-x-16">
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                        <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    </div>
                </div>
                
                <div class="flex justify-center text-center lg:text-left text-2xl lg:text-4xl w-1/2">
                    <div class="flex flex-col justify-center lg:items-start">
                        <div><i class="fa-solid fa-check text-4xl lg:text-5xl px-4"></i>Complete Design Process</div>
                        <div><i class="fa-solid fa-check text-4xl lg:text-5xl px-4"></i>Complete Design Process</div>
                        <div><i class="fa-solid fa-check text-4xl lg:text-5xl px-4"></i>Complete Design Process</div>
                        <div><i class="fa-solid fa-check text-4xl lg:text-5xl px-4"></i>Complete Design Process</div>
                        <div><i class="fa-solid fa-check text-4xl lg:text-5xl px-4"></i>Complete Design Process</div>
                    
                    </div>
                </div>
            </div>
        
            <!-- <div class="h-auto w-full md:w-1/2 py-8 lg:py-24">
                
            </div> -->

            <!-- <div class="text-black space-y-8 py-8 lg:py-24">
                
                <div class="flex justify-center lg:items-start space-x-16">
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                </div>
                <div class="flex justify-center lg:items-start space-x-16">
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                </div>
                <div class="flex justify-center lg:items-start space-x-16">
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                    <div><i class="fa-brands fa-html5 text-4xl lg:text-5xl"></i></div>
                </div>
            </div> -->
        </div>
    </section>
</div>

{% endblock %}