{% extends "base.html" %}
{% block content %}

<div class="max-w-screen-xl mx-auto border-x border-stone-800 bg-zinc-900 py-8">
    <!--Top Header and subheaders-->
    <div class="p-8 md:py-20 lg:px-40 space-y-8">
        <div class="text-3xl lg:text-4xl xl:text-5xl font-bold !leading-tight uppercase">
            About Me, My Skills, the<br class="hidden lg:block"> Tech used and what I<br class="hidden lg:block"> offer as a Web Designer            
        </div>
        <h2 class="text-lg xl:text-xl text-zinc-500 !leading-relaxed lg:w-2/3 text-lg xl:text-xl">
            I'm a fully qualified Website Designer with a level 5 
            <a href="{{ ('static/images/diploma-software-development.pdf') }}" aria-label="Diploma" target="_blank">
                <span class="hover:text-white underline underline-offset-2">Diploma</span>
            </a>
            in Software Development. I achieved my qualification by studying with 
            <a href="https://codeinstitute.net/" aria-label="Code Institute" target="_blank">
                <span class="hover:text-white underline underline-offset-2">Code Institute</span>
            </a>
            - a leading coding educator. During my course I was offered the position of Front-End Developer with 
            <a href="https://www.scolmore.com/" aria-label="Scolmore International" target="_blank">
                <span class="hover:text-white underline underline-offset-2">Scolmore International</span>
            </a>
            , a leading manufacturer, supplier and distributor of electrical products and accessories, worldwide. 
        </h2>
        <h2 class="text-lg xl:text-xl text-zinc-500 !leading-relaxed lg:w-2/3 text-lg xl:text-xl">
            I now design, improve, and maintain the 
            <a href="https://www.scolmore.com/" aria-label="Scolmore International" target="_blank">
                <span class="hover:text-white underline underline-offset-2">Scolmore Group</span>
            </a>
            websites, and with great success and many projects completed, after 6 months, I was promoted to Software Developer.
        </h2>
        <div class="flex items-center justify-center sm:justify-start sm:space-x-4 lg:space-x-8 lg:pt-12">
            <i class="fa-solid fa-crosshairs text-5xl lg:text-6xl hidden sm:block text-zinc-500"></i>
            <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal">
                Focus
            </h2>
        </div>
        <h2 class="text-lg xl:text-xl text-zinc-500 !leading-relaxed text-lg xl:text-xl text-center sm:!text-left">
            My main skills focus on Web Application Development and User Experience Design. This is where I can offer freelance services to any business or individual
            that requires a website to be built or at least a basic web page presence on the net. 
        </h2>
        <h2 class="text-lg xl:text-xl text-zinc-500 !leading-relaxed text-lg xl:text-xl text-center sm:!text-left">
            My goal when building a website is to make sure that visitors to the site have a positive and easy-to-use experience. 
            My dedication and work ethic will give you assurance that I can deliver the best in quality, the right style, and a cost-effective solution. 
            I pride myself on having an eye for detail and never afraid to change something at any point to improve the overall performance of a site. My 
            <a href="/portfolio" aria-label="Portfolio">
                <span class="hover:text-white underline underline-offset-2">Portfolio</span>
            </a>
            is available to view and is regularly updated with completed projects. 
        </h2>       
    </div>
    <div class="space-y-8 md:space-y-20 lg:space-y-40 pb-8 md:pb-20 lg:pb-40">
        <!--Tech-->
        <div>
            <div class="max-w-screen-xl mx-auto sm:flex sm:items-center justify-around space-y-8 sm:space-y-0 flex-row-reverse">
                <div class="flex flex-col items-center justify-center w-full sm:w-1/2 lg:w-2/5 space-y-8 sm:space-y-4 lg:space-y-8 px-4 sm:px-0">
                    <i class="fa-solid fa-laptop-code text-5xl lg:text-6xl hidden sm:block text-zinc-500"></i>
                    <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal">
                        Tech
                    </h2>
                    <p class="text-lg xl:text-xl !leading-relaxed text-center text-zinc-500 text-lg xl:text-xl">
                        I always look to use the latest and safest Software Tech. I know this will give you full peace of mind when your site is being built.
                        I'm always looking to improve and deliver the best results, therefore, working with a great Dev team at Scolmore, I'm kept 
                        well informed of which new Tech to use whilst staying connected to the dev social media world to be aware of the latest versions of software.
                    </p>
                </div>
                <div class="h-full w-full sm:w-1/2 lg:w-2/5">
                    <div class="grid grid-cols-4 py-0 sm:py-6 gap-y-4 lg:gap-y-6 px-2">
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://github.com" aria-label="Github" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-github text-[42px] sm:text-5xl lg:text-6xl "></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://laravel.com" aria-label="Laravel" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-laravel text-[42px] sm:text-5xl lg:text-6xl text-white"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://python.org" aria-label="Python3" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-python text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://www.mongodb.com" aria-label="Databases" target="_blank" class="hover:text-white">
                                <i class="fa-solid fa-database text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://fontawesome.com/" aria-label="Font Awesome" target="_blank" class="hover:text-white">
                                <i class="fa-solid fa-font-awesome text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://en.wikipedia.org/wiki/HTML5" aria-label="HTML5" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-html5 text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://getbootstrap.com" aria-label="Bootstrap5" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-bootstrap text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://aws.amazon.com" aria-label="AWS" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-aws text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://en.wikipedia.org/wiki/CSS" aria-label="CSS3" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-css3-alt text-[42px] sm:text-5xl lg:text-6xl "></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://www.javascript.com" aria-label="Javascript" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-js text-[42px] sm:text-5xl lg:text-6xl "></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://www.php.net" aria-label="PHP" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-php text-[42px] sm:text-5xl lg:text-6xl "></i>
                            </a>
                        </div>
                        <div class="w-full flex items-center justify-center py-4 border-[#252529] hover:bg-[#252529] hover:text-white rounded-3xl">
                            <a href="https://stripe.com/gb" aria-label="Stripe" target="_blank" class="hover:text-white">
                                <i class="fa-brands fa-cc-stripe text-[42px] sm:text-5xl lg:text-6xl"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
         <!--Services-->
        <div>
            <div class="max-w-screen-xl mx-auto sm:flex sm:items-center justify-around space-y-8 sm:space-y-0">
                <div class="flex flex-col items-center justify-center w-full sm:w-1/2 lg:w-2/5 space-y-8 sm:space-y-4 lg:space-y-8 px-4 sm:px-0">
                    <i class="fa-solid fa-users-gear text-5xl lg:text-6xl hidden sm:block text-zinc-500"></i>
                    <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal">
                        Services
                    </h2>
                    <p class="text-lg xl:text-xl !leading-relaxed text-center text-zinc-500 text-lg xl:text-xl">
                        In order to offer the best service, I would recommend an initial consultation to make sure your site is built the way you want it. 
                        This gives you the chance to express what styling, information and images you want to display and together we can make your site stand out from the crowd.
                    </p>
                </div>
                <div class="relative h-1/2 w-full sm:w-1/2 lg:w-2/5 p-2">
                    <div class="absolute left-10 right-10 inset-0 bg-blue-500 blur-md"></div>
                    <div class="relative">
                        <img src="{{ ('static/images/services.jpg') }}" alt="Services" class="w-full px-10" loading="lazy" fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>  
         <!--Savings-->
        <div class="pb-8 lg:pb-0">
            <div class="max-w-screen-xl mx-auto sm:flex sm:items-center justify-around space-y-8 sm:space-y-0 flex-row-reverse">
                <div class="flex flex-col items-center justify-center w-full sm:w-1/2 lg:w-2/5 space-y-8 sm:space-y-4 lg:space-y-8 px-4 sm:px-0">
                    <i class="fa-solid fa-piggy-bank text-5xl lg:text-6xl hidden sm:block text-zinc-500"></i>
                    <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal">
                        Savings
                    </h2>
                    <p class="text-lg xl:text-xl !leading-relaxed text-center text-zinc-500 text-lg xl:text-xl">
                        With cost effective solutions for all budgets and fixed deadlines that works for you; I will endeavour to exceed your expectations 
                        throughout the whole process from the initial consultation through to launch, along with the aftercare which is included.
                    </p>
                </div>
                <div class="relative h-1/2 w-full sm:w-1/2 lg:w-2/5 p-2">
                    <div class="absolute left-10 right-10 inset-0 bg-blue-500 blur-md"></div>
                    <div class="relative">
                        <img src="{{ ('static/images/savings.jpg') }}" alt="Savings" class="w-full px-10" loading="lazy" fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}