<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome Icons Script tag from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <!-- Tailwind CSS and custom CSS scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">

    <!-- Head tab icon using https://gauger.io/fonticon/-->
    <link rel="icon" type="image/ico" href="static/images/favicon.ico" />
    
    <title>Liam Walsh Web Design</title>

    <!-- Alpine JS script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" 
        integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-black text-blue-500 flex flex-col min-h-screen">
    <header class="border-b border-black z-10">
        <!-- Main Navbar -->
        <div x-data="{ open: true }" class="px-8 py-4 flex items-center justify-between hidden lg:flex" aria-labelledby="main-navbar">
            <a aria-label="Home" href="{{ url_for('index') }}" class="flex items-center sm:items-start space-x-2 group">
                <h1 class="text-2xl font-bold text-gray-200 group-hover:opacity-50">Liam Walsh</h1>
                <i class="fa-solid fa-cubes text-2xl sm:text-4xl sm:pt-6 group-hover:opacity-50"></i>
                <h1 class="text-2xl font-bold text-gray-200 group-hover:opacity-50 sm:pt-12 sm:pl-2">Web Design</h1>
            </a>
            <nav id="top" class="sm:flex sm:items-center absolute right-8">
                <button
                    type="button"
                    @click="open = ! open"
                    @keydown.escape="open = true">
                <span class="sr-only">Open main menu</span>
                    <svg x-show="open"
                        class="h-8 w-8 sm:w-10 sm:h-10 text-gray-200 hover:opacity-50"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg x-show="! open"
                        class="h-8 w-8 sm:w-10 sm:h-10 text-gray-200 hover:opacity-50"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </nav>
            <nav x-show="! open" @click.outside="open = true"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 scale-90"
                 x-transition:enter-end="opacity-100 scale-100"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 scale-100"
                 x-transition:leave-end="opacity-0 scale-90"
                 class="pr-24 xl:pr-32">
                <ul class="flex space-x-16 xl:space-x-20 font-medium text-base xl:text-lg">  
                    <li><a aria-label="What is counselling" class="hover:text-gray-200" href="{{ url_for('about') }}">About</a></li>
                    <li><a aria-label="Supervision and staff care" class="hover:text-gray-200" href="{{ url_for('index') }}">Portfolio</a></li>
                    <li><a aria-label="Contact and fees" class="hover:text-gray-200" href="{{ url_for('services') }}">Services</a></li>
                    <li><a aria-label="Protecting you" class="hover:text-gray-200" href="{{ url_for('index') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Mobile sidenav -->
        <div x-data="{ open: true }" aria-labelledby="mobile-navbar">
            <div class="py-2 flex justify-between sm:justify-between px-4 lg:hidden">
                <a aria-label="Home" href="{{ url_for('index') }}" class="flex items-center sm:items-start space-x-2">
                    <h1 class="text-base sm:text-2xl font-bold text-gray-200">Liam Walsh</h1>
                    <i class="fa-solid fa-cubes text-2xl sm:text-4xl sm:pt-6"></i>
                    <h1 class="text-base sm:text-2xl font-bold text-gray-200 sm:pt-12 sm:pl-2">Web Design</h1>
                </a>
                <nav id="top" class="sm:flex sm:items-center">
                    <button 
                        type="button"
                        @click="open = ! open"
                        @keydown.escape="open = true">
                    <span class="sr-only">Open main menu</span>
                        <svg x-show="open"
                            class="h-8 w-8 sm:w-10 sm:h-10 text-gray-200"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg x-show="! open"
                            class="h-8 w-8 sm:w-10 sm:h-10 text-gray-200"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </nav>
            </div>
            <!-- Mobile Dropdown -->
            <div class="text-center py-8 space-y-4 lg:space-y-0 flex flex-col lg:flex-row text-gray-200" 
                 x-show="! open"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 scale-90"
                 x-transition:enter-end="opacity-100 scale-100"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 scale-100"
                 x-transition:leave-end="opacity-0 scale-90"
                 @click.outside="open = true" aria-labelledby="mobile-dropdown">
                <div class="w-full gap-y-4 px-4 lg:px-0 flex ">                 
                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 w-2/3 sm:w-3/4 md:w-2/3 flex items-center justify-center rounded-2xl pb-1 sm:py-1 active:bg-gray-200 active:text-blue-500 cursor-pointer">
                            <div><a aria-label="About" class="text-sm sm:text-base" href="{{ url_for('about') }}">About</a></div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 w-2/3 sm:w-3/4 md:w-2/3 flex items-center justify-center rounded-2xl pb-1 sm:py-1 active:bg-gray-200 active:text-blue-500 cursor-pointer">
                            <div><a aria-label="Portfolio" class="text-sm sm:text-base" href="">Portfolio</a></div>
                        </div>
                    </div>
                </div>
                <div class="w-full gap-y-4 px-4 lg:px-0 flex"> 
                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 w-2/3 sm:w-3/4 md:w-2/3 flex items-center justify-center rounded-2xl pb-1 sm:py-1 active:bg-gray-200 active:text-blue-500 cursor-pointer">
                            <div><a aria-label="Services" class="text-sm sm:text-base" href="{{ url_for('services') }}">Services</a></div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 w-2/3 sm:w-3/4 md:w-2/3 flex items-center justify-center rounded-2xl pb-1 sm:py-1 active:bg-gray-200 active:text-blue-500 cursor-pointer">
                            <div><a aria-label="Contact" class="text-sm sm:text-base" href="">Contact</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

     <!-- Footer -->
     <div class="bg-gray-200 text-gray-900">
        <footer class="2xl:max-w-screen-xl mx-auto space-y-4 mt-auto mb-4 pt-4" aria-labelledby="footer">
            <div class="text-center space-x-4">
                <a aria-label="LinkedIn" href="https://www.linkedin.com/in/liam-walsh-11526a179/" target="_blank"><i class="fa-brands fa-linkedin text-3xl hover:text-[#1E417B] active:text-[#1E417B]"></i></a>
                <a aria-label="Github" href="https://github.com/liamwalsh1980" target="_blank"><i class="fa-brands fa-github text-3xl hover:text-[#1E417B] active:text-[#1E417B]"></i></a>
                <a aria-label="Email" href="mailto: lwalsh_1980@hotmail.co.uk" target="_blank"><i class="fa-solid fa-square-envelope text-3xl hover:text-[#1E417B] active:text-[#1E417B]"></i></a>
            </div>
            <p class="text-center">Copyright &copy Liam Walsh Web Design</p>
        </footer>
    </div>
</body>
</html>