<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome Icons Script tag from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <!-- Tailwind CSS and custom CSS scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    
    <title>Liam Walsh Web Design</title>

    <!-- Alpine JS script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" 
        integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-black">
    <header class="border-b border-blue-500 z-10">
        <!-- Main Navbar -->

        <div x-data="{ open: true }" class="px-8 py-4 flex items-center justify-between hidden lg:flex" aria-labelledby="main-navbar">
            <div class="border border-black">
                <a aria-label="Home" href="{{ url_for('index') }}" class="flex items-center sm:items-start space-x-2">
                    <h1 class="text-base sm:text-2xl font-bold text-white hover:text-blue-700">Liam Walsh</h1>
                    <i class="fa-solid fa-cubes text-blue-700 text-2xl sm:text-4xl sm:pt-6"></i>
                    <h1 class="text-base sm:text-2xl font-bold text-white hover:text-blue-700 sm:pt-12 sm:pl-2">Web Design</h1>
                </a>
            </div>
            <nav id="top" class="sm:flex sm:items-center absolute right-8">
                <button 
                    type="button"
                    @click="open = ! open"
                    @keydown.escape="open = true">
                <span class="sr-only">Open main menu</span>
                    <svg x-show="open"
                        class="h-8 w-8 sm:w-10 sm:h-10 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg x-show="! open"
                        class="h-8 w-8 sm:w-10 sm:h-10 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </nav>
            <nav x-show="! open" @click.outside="open = true" class="pr-16">
                <ul class="flex space-x-2 lg:space-x-6 xl:space-x-8 text-blue-700 font-medium text-sm lg:text-xs xl:text-sm"> 
                    <li><a aria-label="Home" class="hover:text-blue-400 active:text-blue-400 focus:text-blue-400" href="{{ url_for('index') }}">Home</a></li>
                    <div class="border-1 border-blue-200"></div>
                    <li><a aria-label="What is counselling" class="hover:text-blue-400 active:text-blue-400 focus:text-blue-400" href="">About</a></li>
                    <div class="border-1 border-blue-200"></div>
                    <li><a aria-label="Supervision and staff care" class="hover:text-blue-400 active:text-blue-400 focus:text-blue-400" href="">Portfolio</a></li>
                    <div class="border-1 border-blue-200"></div>
                    <li><a aria-label="Contact and fees" class="hover:text-blue-400 active:text-blue-400 focus:text-blue-400" href="">Services</a></li>
                    <div class="border-1 border-v-200"></div>
                    <li><a aria-label="Protecting you" class="hover:text-blue-400 active:text-blue-400 focus:text-blue-400" href="">Contact</a></li>
                    <div class="border-1 border-blue-200"></div>
                </ul>
            </nav>
        </div>

        <!-- Mobile sidenav -->
        <div x-data="{ open: true }" aria-labelledby="mobile-navbar">
            <div class="py-2 flex justify-between sm:justify-between px-4 lg:hidden">
                <div class="border border-black">
                    <a aria-label="Home" href="{{ url_for('index') }}" class="flex items-center sm:items-start space-x-2">
                        <h1 class="text-base sm:text-2xl font-bold text-white hover:text-blue-700">Liam Walsh</h1>
                        <i class="fa-solid fa-cubes text-blue-700 text-2xl sm:text-4xl sm:pt-6"></i>
                        <h1 class="text-base sm:text-2xl font-bold text-white hover:text-blue-700 sm:pt-12 sm:pl-2">Web Design</h1>
                    </a>
                </div>
                <nav id="top" class="sm:flex sm:items-center">
                    <button 
                        type="button"
                        @click="open = ! open"
                        @keydown.escape="open = true">
                    <span class="sr-only">Open main menu</span>
                        <svg x-show="open"
                            class="h-8 w-8 sm:w-10 sm:h-10 text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg x-show="! open"
                            class="h-8 w-8 sm:w-10 sm:h-10 text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </nav>
            </div>
            <!-- Mobile Dropdown -->
            <div class="bg-black text-center py-8 space-y-4 lg:space-y-0 flex flex-col lg:flex-row" 
                 x-show="! open" @click.outside="open = true" aria-labelledby="mobile-dropdown">
                <div class="text-blue-700 w-full gap-y-4 px-4 lg:px-0 flex"> 
                    
                
                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 hover:bg-white w-3/4 md:w-2/3 flex items-center justify-center rounded-xl py-1 text-white hover:text-blue-500 active:text-blue-500 focus:text-blue-500 cursor-pointer">
                            <div><a aria-label="About" class="" href="">About</a></div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 hover:bg-white w-3/4 md:w-2/3 flex items-center justify-center rounded-xl py-1 text-white hover:text-blue-500 active:text-blue-500 focus:text-blue-500 cursor-pointer">
                            <div><a aria-label="Portfolio" class="" href="">Portfolio</a></div>
                        </div>
                    </div>
                </div>
                
                <div class="text-blue-700 w-full gap-y-4 px-4 lg:px-0 flex"> 

                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 hover:bg-white w-3/4 md:w-2/3 flex items-center justify-center rounded-xl py-1 text-white hover:text-blue-500 active:text-blue-500 focus:text-blue-500 cursor-pointer">
                            <div><a aria-label="Services" class="" href="">Services</a></div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center w-full">
                        <div class="bg-blue-500 hover:bg-white w-3/4 md:w-2/3 flex items-center justify-center rounded-xl py-1 text-white hover:text-blue-500 active:text-blue-500 focus:text-blue-500 cursor-pointer">
                            <div><a aria-label="Contact" class="" href="">Contact</a></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>