{% extends "base.html" %}
{% block content %}

<div class="max-w-screen-xl mx-auto border-x border-stone-800 bg-zinc-900 py-8">
     <!--Top Header and subheader-->
    <div class="p-8 md:py-20 lg:px-40 space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold !leading-tight">
            Get in touch          
        <h2 class="text-base lg:text-lg xl:text-xl text-zinc-500 !leading-relaxed lg:w-2/3">
            Interested in a service or have a question?<br> Make contact by completing the form or clicking one of the links below.
        </h2>
        <div class="text-left space-x-4">
            <a aria-label="LinkedIn" href="https://www.linkedin.com/in/liam-walsh-11526a179/" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-brands fa-linkedin text-2xl md:text-3xl"></i>
            </a>
            <a aria-label="Github" href="https://github.com/liamwalsh1980" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-brands fa-github text-2xl md:text-3xl"></i>
            </a>
            <a aria-label="Email" href="mailto: liamwalshdeveloper@gmail.com" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-solid fa-square-envelope text-2xl md:text-3xl"></i>
            </a>
        </div>
    </div>
     <!--Contact form-->
    <div class="px-8 lg:px-40 space-y-8">
        <section class="text-center flex justify-center sm:justify-start items-center w-full mb-32 py-8 md:py-0 rounded-lg text-gray-900" id="contact-form">
            <form onsubmit="return sendMail(this);" method="POST, GET">
                <div class="max-w-screen-xl mx-auto flex flex-col justify-center items-center">
                    <div class="space-y-4 flex flex-col items-start w-full" aria-labelledby="contact">
                        <div><input id="name" name="name" type="text" minlength="1" maxlength="400" class="validate w-72 sm:w-[450px] px-1 h-8 rounded" placeholder="Name *" required></div>
                        <div><input id="email" name="email" type="email" minlength="1" maxlength="100" class="validate w-72 sm:w-[450px] px-1 h-8 rounded" placeholder="Email Address *" required></div>
                        <div><input id="number" name="number" type="number" minlength="1" maxlength="11" pattern="^[a-zA-Z]{1,100}$" class="validate w-72 sm:w-[450px] px-1 h-8 rounded" placeholder="Contact Number *" required></div>
                        <div><textarea id="message" name="message" type="text" minlength="3" maxlength="200" pattern="^[a-zA-Z]{3,200}$" class="validate w-72 sm:w-[450px] h-48 px-1 rounded" placeholder="Tell me more...."></textarea></div>
                    </div>
                    <div class="w-full text-right flex justify-between items-start">
                        <p class="text-sm italic text-gray-200">* Required</p>
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full mt-2">
                            <button
                                type="submit" value="submit"
                                class="text-sm md:text-base text-center">
                                Submit
                                <i class="fa-solid fa-rocket"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id="modal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content bg-black text-white border border-white rounded-lg">
                            <div class="modal-header">
                                <div class="modal-title w-full flex items-center justify-center logo">
                                    <style>
                                        .logo {
                                            font-family: 'Russo One', sans-serif;
                                        }
                                    </style>
                                    <a aria-label="Home" href="{{ url_for('index') }}" class="flex items-center sm:items-start space-x-2 group">
                                        <h1 class="text-zinc-500 text-white text-base">pure code</h1>
                                        <i class="fa-solid fa-code text-2xl sm:pt-4 text-blue-500"></i>
                                        <h1 class="text-zinc-500 text-white text-base sm:pt-10 sm:pl-1">web design</h1>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="modal-message">Thank you for getting in touch. You will receive an email or call very soon to dicuss your requirements further.</p>
                            </div>
                            <div class="modal-footer flex items-center justify-center">
                                <button type="button" 
                                        class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center 
                                               rounded-full text-sm md:text-base text-center"
                                        data-bs-dismiss="modal" id="closing-btn">Close
                                </button>  
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}