{% extends "base.html" %}
{% block content %}

<div class="max-w-screen-xl mx-auto border-x border-stone-800 bg-zinc-900 py-8">
     <!--Top Header and subheader-->
    <div class="p-8 md:py-20 lg:p-40 space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold !leading-tight">
            Pleb Designer, Software<br class="hidden lg:block"> Developer and founder of <br class="hidden lg:block">Pure Code Web Design</h1>
        <h2 class="text-sm md:text-base lg:text-lg xl:text-xl text-zinc-500 !leading-relaxed lg:w-2/3">
            I'm Liam, a Web designer and software developer for Scolmore International. My passion is to build new and innovate websites and applications.
            I am the founder of Pure Code Web Design, where I help to build websites for startups and sole traders. 
        </h2>
        <div class="text-left space-x-4">
            <a aria-label="LinkedIn" href="https://www.linkedin.com/in/liam-walsh-11526a179/" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-brands fa-linkedin text-2xl md:text-3xl"></i>
            </a>
            <a aria-label="Github" href="https://github.com/liamwalsh1980" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-brands fa-github text-2xl md:text-3xl"></i>
            </a>
            <a aria-label="Email" href="mailto: liamwalshdeveloper@gmail.com" target="_blank" 
               class="opacity-50 hover:opacity-100 hover:text-white">
                <i class="fa-solid fa-square-envelope text-2xl md:text-3xl"></i>
            </a>
        </div>
    </div>
     <!--Image - services-->
    <div class="xl:flex justify-between xl:space-x-10 space-y-10 lg:space-y-16 xl:space-y-0 py-8 lg:py-0 px-4">
        <div x-data="{ isOpen: false, hover: '' }" 
            @mouseover="hover = true"
            @mouseleave="hover = false" class="w-auto md:w-full xl:w-auto flex items-center justify-center">
            <div @click="isOpen = ! isOpen" class="relative flex items-center justify-center h-full w-full sm:w-2/3 lg:w-3/5 xl:w-full cursor-pointer rotate-1 group">
                <img src="{{ ('static/images/website_design.jpg') }}" alt="Website Design" loading="lazy" fetchpriority="high" 
                     class="rounded-2xl w-full hue-rotate-30 group-hover:opacity-20" :class="isOpen || hover ? 'opacity-20' : ''"/>
                <div class="absolute">
                    <p x-show="!isOpen" class="text-2xl lg:text-3xl xl:text-4xl" :class="hover ? 'opacity-100' : 'opacity-0'">Website Design</p>
                    <div>
                        <ul x-show="isOpen" class="text-sm md:text-base lg:text-lg xl:text-xl list-none text-center space-y-2 sm:space-y-4 xl:space-y-2">
                            <li><span class="text-gray-200 text-2xl lg:text-3xl xl:text-4xl underline decoration-1 underline-offset-8 xl:hidden">Website Design</li></span>
                            <li><span class="text-gray-200">Full design process</li></span>
                            <li><span class="text-gray-200">Mobile first designs</li></span>
                            <li><span class="text-gray-200">User experience focused</li></span>
                            <li><span class="text-gray-200">Styling perfection</li></span>
                            <li><span class="text-gray-200">Cost effective designs</li></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        <div x-data="{ isOpen: false, hover: '' }" 
            @mouseover="hover = true"
            @mouseleave="hover = false" class="w-auto md:w-full xl:w-auto flex items-center justify-center">
            <div @click="isOpen = ! isOpen" class="relative flex items-center justify-center h-full w-full sm:w-2/3 lg:w-3/5 xl:w-full cursor-pointer -rotate-1 group">
                <img src="{{ ('static/images/software_development.jpg') }}" alt="Software Development" loading="lazy" fetchpriority="high" 
                     class="rounded-2xl w-full -hue-rotate-90 group-hover:opacity-20" :class="isOpen || hover ? 'opacity-20' : ''"/>
                <div class="absolute">
                    <p x-show="!isOpen" class="text-2xl lg:text-3xl xl:text-4xl" :class="hover ? 'opacity-100' : 'opacity-0'">Software Development</p>
                    <div>
                        <ul x-show="isOpen" class="text-sm md:text-base lg:text-lg xl:text-xl list-none text-center space-y-2 sm:space-y-4 xl:space-y-2">
                            <li><span class="text-gray-200 text-2xl lg:text-3xl xl:text-4xl underline decoration-1 underline-offset-8 xl:hidden">Software Development</li></span>
                            <li><span class="text-gray-200">Latest software used</li></span>
                            <li><span class="text-gray-200">Database functionality</li></span>
                            <li><span class="text-gray-200">User account access</li></span>
                            <li><span class="text-gray-200">Full site interaction</li></span>
                            <li><span class="text-gray-200">Full device testing</li></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div x-data="{ isOpen: false, hover: '' }" 
            @mouseover="hover = true"
            @mouseleave="hover = false" class="w-auto md:w-full xl:w-auto flex items-center justify-center">
            <div @click="isOpen = ! isOpen" class="relative flex items-center justify-center h-full w-full sm:w-2/3 lg:w-3/5 xl:w-full cursor-pointer rotate-1 group">
                <img src="{{ ('static/images/website_services.jpg') }}" alt="Website Services" loading="lazy" fetchpriority="high" 
                     class="rounded-2xl w-full -hue-rotate-180 group-hover:opacity-20" :class="isOpen || hover ? 'opacity-20' : ''"/>
                    <div class="absolute">
                    <p x-show="!isOpen" class="text-2xl lg:text-3xl xl:text-4xl" :class="hover ? 'opacity-100' : 'opacity-0'">Website Services</p>
                    <div>
                        <ul x-show="isOpen" class="text-sm md:text-base lg:text-lg xl:text-xl list-none text-center space-y-2 sm:space-y-4 xl:space-y-2">
                            <li><span class="text-gray-200 text-2xl lg:text-3xl xl:text-4xl underline decoration-1 underline-offset-8 xl:hidden">Website Services</li></span>
                            <li><span class="text-gray-200">Site secure hosting</span></li>
                            <li><span class="text-gray-200">Domain name sourcing</span></li>
                            <li><span class="text-gray-200">Website health checks</span></li>
                            <li><span class="text-gray-200">SEO and Marketing</span></li>
                            <li><span class="text-gray-200">Cost effective packages</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
     <!--Font Awesome - services-->
    <div class="max-w-screen-xl w-full mx-auto px-4 xl:px-0 py-8 md:py-20 lg:py-40 lg:space-y-10">
        <div class="lg:flex md:items-center md:justify-between gap-x-12">
            <a href="about" aria-label="Services"
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-solid fa-bell-concierge text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Services</h2>
                <p class="text-center flex justify-center leading-relaxed text-zinc-500 group-hover:text-white">
                    Offering all web services from start <br class="md:hidden xl:block">to finish, with on-going aftercare.
                </p>
            </a>
            <a href="about" aria-label="Customisation"
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-solid fa-palette text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Customisation</h2>
                <p class="text-center flex justify-center leading-relaxed text-zinc-500 group-hover:text-white">
                    Fresh designs, unique to your <br class="md:hidden xl:block">business, by using the latest tech.
                </p>
            </a>
            <a href="about" aria-label="Quality"
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-regular fa-star text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Quality</h2>
                <p class="text-center flex justify-center leading-relaxed text-zinc-500 group-hover:text-white">
                    Its all in the detail and with <br class="md:hidden xl:block">Pure Code you're guaranteed quality.
                </p>
            </a>
        </div>
        <div class="lg:flex md:items-center md:justify-between gap-x-12">
            <a href="{{ ('static/images/diploma-software-development.pdf') }}" aria-label="Diploma" target="_blank" 
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-solid fa-certificate text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Qualified</h2>
                <p class="text-center leading-normal text-zinc-500 group-hover:text-white">View my level 5 Diploma qualification<br class="md:hidden xl:block"> 
                    in Software Development. <i class="fa-solid fa-arrow-right text-blue-500"></i><i class="fa-solid fa-award text-lg pl-1 text-blue-500"></i>
                </p>
            </a>
            <a href="https://github.com/liamwalsh1980" aria-label="Github"  target="_blank" 
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-brands fa-github text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Experience</h2>
                <p class="text-center leading-normal text-zinc-500 group-hover:text-white">Take a look at my work<br class="md:hidden xl:block"> 
                    by viewing my Github account. <i class="fa-solid fa-arrow-right text-blue-500"></i><i class="fa-brands fa-github text-lg pl-1 text-blue-500"></i>
                </p>
            </a>
            <a href="about" aria-label="Pure Code"
               class="flex flex-col items-center justify-center space-y-4 w-full lg:w-1/3 py-8 border-[#252529] hover:bg-[#252529] rounded-3xl group">
                <i class="fa-solid fa-laptop-code text-5xl lg:text-6xl text-zinc-500 group-hover:text-white"></i>  
                <h2 class="text-2xl lg:text-4xl font-semibold lg:font-normal group-hover:text-white">Pure Code</h2>
                <p class="text-center leading-relaxed text-zinc-500 group-hover:text-white">
                    With the best tech and pure code,<br class="md:hidden xl:block"> the results will be second to none.
                </p>
            </a>
        </div>
    </div>
</div>

{% endblock %}