{% extends "base.html" %}
{% block content %}

<div class="space-y-40">
    <section class="max-w-screen-xl mx-auto px-4 pt-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">Do you need a website ?</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">Whether its a new website you need or an upgrade to an existing site, I can offer you the right service !</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="About" class="text-sm sm:text-base" href="">Contact</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="Portfolio" class="text-sm sm:text-base" href="">Services</a></div>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse">
            <div class="flex items-center justify-center lg:space-x-4">
                <i class="fa-solid fa-chevron-left text-3xl text-black hidden lg:block"></i>
                <h1 class="text-black text-xl lg:text-4xl pt-8 md:pt-0">
                    Website Design
                </h1>
            </div>
            <div id="image" class="flex justify-center h-auto w-full md:w-1/2 py-12">
                <img src="{{ ('static/images/website-design.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <br>

    <!-- <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse">
            
            <div id="image" class="flex justify-center h-60 sm:h-64 md:h-72 lg:h-96 py-12">
                <img src="{{ ('static/images/website-design.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <div class="ipad-mt d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row mens-bg-color" aria-labelledby="mens-bikes">
        <div class="px-0">
            <img src="" class="hero-images" alt=""> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
            <div class="m-4">
                <h2>Mens Bikes</h2>
                <a href="" class="shop-now-button btn btn-ls text-uppercase mt-2" aria-label="Mens bikes">Enter the shop <i class="fas fa-sign-in-alt"></i></a>
                <h5 class="pt-4 text-capitalize">whether you're a cycling newbie or enthusiast, the bike shop will have a bike for you!</h5>
            </div>
        </div>
    </div> -->




</div>

{% endblock %}