{% extends "base.html" %}
{% block content %}

<div class="">
    <section class="max-w-screen-xl mx-auto px-4 py-32 lg:py-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">Do you need a website ?</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">Whether its a new website you need or an upgrade to an existing site, I can offer you the right service !</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="About" class="text-sm sm:text-base" href="">Contact</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="Portfolio" class="text-sm sm:text-base" href="">Services</a></div>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse">
            <div class="flex items-center justify-center md:space-x-2 lg:space-x-4 text-black">
                <i class="fa-solid fa-chevron-left md:text-xl lg:text-3xl hidden md:block"></i>
                <h1 class="text-xl lg:text-4xl pt-8 md:pt-0">
                    Website Design
                </h1>
            </div>
            <div id="image" class="flex justify-center h-auto w-full md:w-1/2 py-8 lg:py-24">
                <img src="{{ ('static/images/website-design.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around">
            <div class="flex items-center justify-center md:space-x-2 lg:space-x-4">
                <h1 class="text-xl lg:text-4xl pt-8 md:pt-0">
                    Mobile First Design
                </h1>
                <i class="fa-solid fa-chevron-right md:text-xl lg:text-3xl hidden md:block"></i>
            </div>
            <div id="image" class="flex justify-center h-auto w-full md:w-1/2 py-8 lg:py-24">
                <img src="{{ ('static/images/mobile-first-design.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse">
            <div class="flex items-center justify-center md:space-x-2 lg:space-x-4 text-black">
                <i class="fa-solid fa-chevron-left md:text-xl lg:text-3xl hidden md:block"></i>
                <h1 class="text-xl lg:text-4xl pt-8 md:pt-0">
                    Website Development
                </h1>
            </div>
            <div id="image" class="flex justify-center h-auto w-full md:w-1/2 py-8 lg:py-24">
                <img src="{{ ('static/images/website-development.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around">
            <div class="flex items-center justify-center md:space-x-2 lg:space-x-4">
                <h1 class="text-xl lg:text-4xl pt-8 md:pt-0">
                    Website Services
                </h1>
                <i class="fa-solid fa-chevron-right md:text-xl lg:text-3xl hidden md:block"></i>
            </div>
            <div id="image" class="flex justify-center h-auto w-full md:w-1/2 py-8 lg:py-24">
                <img src="{{ ('static/images/website-services.jpg') }}" alt="">
            </div>
        </div>
    </section>

    
</div>

{% endblock %}