{% extends "base.html" %}
{% block content %}

<div class="max-w-screen-xl mx-auto border-x border-stone-800 bg-zinc-900 py-8">
    <!--Top Header and subheader-->
    <div class="p-8 md:py-20 lg:p-40 space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold !leading-tight">
            My Portfolio
        </h1>
        <h2 class="text-base lg:text-lg xl:text-xl text-zinc-500 !leading-relaxed lg:w-2/3">
            My portfolio shows all projects from my course work during my training to the latest projects i'm involved in as a full time Software Developer. 
        </h2>
    </div>
    <!--Portfolio-->
    <div class="grid sm:grid-cols-2 gap-8 sm:gap-4 lg:gap-6 lg:gap-8 px-2 md:!px-8 gap-8 pb-8 md:pb-20 lg:pb-40">
        <!--Espire-->
        <!-- <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group md:rotate-1">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Espire UK - In development
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/espire.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/espire_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            A new scolmore group site thats offers a wide range of cutting-edge safetgy alarms that meet and exceed industry standards. 
                            Espire is committed to equipping homes with trusted and reliable alarms to ensure early detection and rapid response to potential threats.
                            Espire is due to launch in Spring 2024. 
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <div class="bg-zinc-500 w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full cursor-not-allowed">
                        <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                    </div>
                
                    <div class="bg-zinc-500 w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full cursor-not-allowed">
                        <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                    </div>
                    <a href="https://temp.espireuk.com/" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/scolmore/group_websites" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section> -->
        <!-- Scolmore Sales Stats App -->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Scolmore - External Sales Stats App (Coming Soon)
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/external_sales_stats.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/external_sales_stats_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            Coming Soon
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="#" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="#" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Scolmore Group-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Introducing.... Scolmore Group
            </h2>    
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/scolmore_global.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-black shadow-xl">
                    </div>
                    <div class="sm:hidden space-y-4">
                        <div class="flex justify-center">
                            <img src="{{ ('static/images/unicrimp_site.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                    class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-black shadow-xl">
                        </div>
    
                        <div class="flex justify-center">
                            <img src="{{ ('static/images/click_site.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                    class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-black shadow-xl">
                        </div>
                        <div class="flex justify-center">
                            <img src="{{ ('static/images/oem_site.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                    class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-black shadow-xl">
                        </div>
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-black group-hover:text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            As a full-time Web Developer at Scolmore Group, I am part of a great team of fellow developers that work on the same projects. 
                            Please feel free to visit the latest project – Scolmore Group Websites as we continue to upgrade each Scolmore branded site. 
                            The latest sites recently launched is Scolmore OEM, Unicrimp and Click Scolmore which went live in November 2023. 
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="https://github.com/scolmore/group_websites" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                    <a href="https://www.scolmore.com" aria-label="View Scolmore" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Scolmore </div>
                        </div>
                    </a>
                </div>
                <div class="flex justify-center items-center pt-2.5 space-x-4">   
                    <a href="https://scolmoreoem.com" aria-label="View Scolmore OEM" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View OEM </div>
                        </div>
                    </a>
                    <a href="https://www.unicrimp.com" aria-label="View Unicrimp" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Unicrimp</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Scolmore Training-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Scolmore Group - Scolmore Training
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/scolmore_training.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/scolmore_training_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            A free to access training portal from Scolmore Group. The aim is simple - to provide you with a wealth of material in the form of 
                            accessible training modules, that will help boost your knowledge of the vast range of products, systems and solutions that are available 
                            from across the Scolmore Group of companies.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="https://scolmoregrouptraining.com/" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/scolmore/scolmore-group-training" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--The Courage to be-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Live Project: The Courage to be
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/the_courage_to_be.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/the_courage_to_be_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            A website design for a local counselling service which includes sections to explain more about 
                            the service offered and the counsellor offering it. A blog was also designed for the owner of 
                            the site to add, edit and remove blog posts at any point.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="http://www.thecouragetobe.org" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/liamwalsh1980/thecouragetobe" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Course work - 4-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Course Project 4: The Bike Shop
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/the_bike_shop.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/the_bike_shop_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            An online shop for cyclists of all levels to purchase a new bike, accessories and services. 
                            The site allows users to create an account with a username and password to access and make purchases easily and quickly. 
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="http://thebikeshop-project.herokuapp.com" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/liamwalsh1980/Milestone-Project-4" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Course work - 3-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Course Project 3: FilmZone
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/filmzone.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/filmzone_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            A fun and interactive website for Film lovers to sign in and add film reviews and read about other members film recommendations.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="https://filmzone-project.herokuapp.com" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/liamwalsh1980/Milestone-Project-3" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Course work - 2-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Course Project 2: Euro Football Quiz
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/the_euro_football_quiz.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/the_euro_football_quiz_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            The Euro Football Quiz is an interactive website that gives users that have an interest in International 
                            Football some useful information about the UEFA European Championships going back over 60 years.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="https://liamwalsh1980.github.io/Milestone-Project-2/" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/liamwalsh1980/Milestone-Project-2" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--Course work - 1-->
        <section class="bg-black max-w-screen-xl w-full mx-auto px-2 md:!px-4 rounded-lg py-4 space-y-4 group">
            <h2 class="text-sm md:text-base lg:text-lg xl:text-xl md:text-zinc-500 group-hover:text-white !leading-relaxed text-center">
                Course Project 1: Embrace Autism
            </h2>       
            <div class="h-full w-full">
                <div class="relative">
                    <div class="sm:flex justify-center hidden">
                        <img src="{{ ('static/images/embrace_autism.jpeg') }}" alt="Desktop Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ ('static/images/embrace_autism_mobile.jpeg') }}" alt="Mobile Image" loading="lazy" fetchpriority="high"
                                class="rounded-lg z-50 group-hover:opacity-10 border-[1px] border-zinc-900 shadow-xl">
                    </div>
                    <div class="bg-black absolute h-full w-full top-0 rounded-lg flex items-center justify-center">
                        <p class="text-white text-center text-lg sm:text-xs lg:text-lg w-5/6">
                            Embrace Autism is a fictional information website that is mainly aimed at parents who have a child 
                            with a diagnosis of Autism (ASD – Autistic Spectrum Disorder). The website provides advice and ideas 
                            on how to occupy and keep Autistic children happy, engaged and active.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center pt-4 space-x-4">   
                    <a href="https://liamwalsh1980.github.io/Milestone-Project-1" aria-label="View Site" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Site <i class="fa-solid fa-laptop-code"></i></div>
                        </div>
                    </a>
                    <a href="https://github.com/liamwalsh1980/Milestone-Project-1" aria-label="View Code" target="_blank">
                        <div class="bg-zinc-500 hover:bg-white hover:text-black w-28 md:w-32 lg:w-36 h-8 flex items-center justify-center rounded-full">
                            <div class="text-sm md:text-base text-center">View Code <i class="fa-solid fa-code"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
        
{% endblock %}