{% extends "base.html" %}
{% block content %}

<div class="">
    <section class="max-w-screen-xl mx-auto px-4 py-32 lg:py-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">Do you need a website ?</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">Whether its a new website you need or an upgrade to an existing site, I can offer you the right service !</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="Contact" class="text-sm sm:text-base" href="">Contact</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="Services" class="text-sm sm:text-base" href="">Services</a></div>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse"
             x-data="{ hover: '' }" @mouseover="hover = true" @mouseleave="hover = false">
            <a href="" class="flex items-center justify-center md:space-x-2 lg:space-x-4 text-black">
                <i class="fa-solid fa-chevron-right md:text-xl lg:text-3xl hidden lg:block" :class="hover ? 'rotate-180 ease-in-out duration-700' : ''"></i>
                <h1 class="text-2xl lg:text-4xl pt-8 md:pt-0">
                    Website Design
                </h1>
            </a>
            <div class="h-auto w-full md:w-1/2 py-8 lg:py-24">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/website-design.jpg') }}" alt="Website Design">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around"
             x-data="{ hover: '' }" @mouseover="hover = true" @mouseleave="hover = false">
            <a href="" class="flex items-center justify-center md:space-x-2 lg:space-x-4">
                <h1 class="text-2xl lg:text-4xl pt-8 md:pt-0">
                    Mobile First Design
                </h1>
                <i class="fa-solid fa-chevron-left md:text-xl lg:text-3xl hidden lg:block" :class="hover ? 'rotate-180 ease-in-out duration-700' : ''"></i>
            </a>
            <div class="h-auto w-full md:w-1/2 py-8 lg:py-24">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/mobile-first-design.jpg') }}" alt="Mobile First Design">
                </a>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around flex-row-reverse"
             x-data="{ hover: '' }" @mouseover="hover = true" @mouseleave="hover = false">
            <a href="" class="flex items-center justify-center md:space-x-2 lg:space-x-4 text-black">
                <i class="fa-solid fa-chevron-right md:text-xl lg:text-3xl hidden lg:block" :class="hover ? 'rotate-180 ease-in-out duration-700' : ''"></i>
                <h1 class="text-2xl lg:text-4xl pt-8 md:pt-0">
                    Website Development
                </h1>
            </a>
            <div class="h-auto w-full md:w-1/2 py-8 lg:py-24">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/website-development.jpg') }}" alt="">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-screen-xl mx-auto px-4 md:px-8 md:flex md:items-center md:justify-around" 
             x-data="{ hover: '' }" @mouseover="hover = true" @mouseleave="hover = false">
            <a href="" class="flex items-center justify-center md:space-x-2 lg:space-x-4">
                <h1 class="text-2xl lg:text-4xl pt-8 md:pt-0">
                    Website Services
                </h1>
                <i class="fa-solid fa-chevron-left md:text-xl lg:text-3xl hidden lg:block" :class="hover ? 'rotate-180 ease-in-out duration-700' : ''"></i>
            </a>
            <div class="h-auto w-full md:w-1/2 py-8 lg:py-24">
                <a href="" class="flex justify-center">
                    <img src="{{ ('static/images/website-services.jpg') }}" alt="">
                </a>
            </div>
        </div>
    </section>

    <section class="bg-[#3B82F6]">
        <div class="max-w-screen-xl w-full mx-auto px-4 xl:px-0 lg:flex md:items-center md:justify-between gap-x-12 space-y-8 lg:space-y-0 py-8 lg:py-24">
            <div class="flex flex-col items-center justify-center text-black space-y-4 w-full lg:w-1/3">
                <i class="fa-solid fa-bullseye text-5xl lg:text-6xl"></i>
                <h2 class="text-2xl lg:text-4xl">Services</h2>
                <p class="text-center flex justify-center lg:pt-4">Offering all services during<br class="md:hidden xl:block">and after your website building </p>
            </div>

            <div class="flex justify-center items-center py-4 lg:hidden">
                <div class="h-[1px] w-3/4 sm:w-2/3 md:w-1/2 bg-black"></div>
            </div>
            
            <div class="flex flex-col items-center justify-center text-black space-y-4 w-full lg:w-1/3">
                <i class="fa-solid fa-cubes text-5xl lg:text-6xl"></i>
                <h2 class="text-2xl lg:text-4xl">Customisation</h2>
                <p class="text-center flex justify-center lg:pt-4">Fresh designs built from<br class="md:hidden xl:block">scratch using the latest technology</p>
            </div>

            <div class="flex justify-center items-center py-4 lg:hidden">
                <div class="h-[1px] w-3/4 sm:w-2/3 md:w-1/2 bg-black"></div>
            </div>

            <div class="flex flex-col items-center justify-center text-black space-y-4 w-full lg:w-1/3">
                <i class="fa-regular fa-star text-5xl lg:text-6xl"></i>
                <h2 class="text-2xl lg:text-4xl">Quality</h2>
                <p class="text-center flex justify-center lg:pt-4">Only the best designs and cost<br class="md:hidden xl:block">effective solutions for all budgets</p>
            </div>
        </div>
    </section>

    <section class="max-w-screen-xl mx-auto px-4 py-32 lg:py-40 text-center flex flex-col justify-center items-center space-y-8">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-normal">All you need to know</h1>
        <h2 class="text-base md:text-lg lg:text-xl xl:text-2xl text-white w-3/4 md:w-2/3 lg:w-1/2">After designing and developing websites for different sectors, I’m proud to present my portfolio of work. All designs are created from scratch and live to view.</h2>
        <div class=" gap-y-4 px-4 lg:px-0 flex text-white space-x-8 lg:space-x-16">                 
            <div class="bg-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-white hover:text-[#3B82F6] active:bg-white active:text-[#3B82F6] cursor-pointer">
                <div><a aria-label="Portfolio" class="text-sm sm:text-base" href="">Portfolio</a></div>
            </div>
            <div class="bg-white text-[#3B82F6] w-28 lg:w-36 rounded-2xl pb-1 sm:py-1 hover:bg-[#3B82F6] hover:text-white active:bg-[#3B82F6] active:text-white cursor-pointer">
                <div><a aria-label="About" class="text-sm sm:text-base" href="">About</a></div>
            </div>
        </div>
    </section>

    

</div>

{% endblock %}